<body>
<div class="overlay">
<header>
  READ BETTER
</header>
<div class="loginEntry">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="loginInput" id="username" placeholder="Username" [(ngModel)]="username">
  </div>
  <br>
  <br>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="loginInput" id="password" placeholder="Password" [(ngModel)]="password">
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Login</button>
</div>
</div>
</body>

