<app-header></app-header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="medium"
  color="#fff"
  type="ball-atom"
></ngx-spinner>
<div id="wrapper">


  <div style="padding: 20px;">
  </div>


  <main>

    <div class="container">
      <app-side-drawer></app-side-drawer>
    </div>


    <div class="main">

      <div id="test" (mousemove)="fireEvent($event)" (dblclick)="wordSelection()"></div>

      <p class="title">Read Better .pdf in 3 easy steps</p>
      <!--<label for="file">Choose File</label>-->

      <div class="upload-btn-wrapper">
        <p> 1. Load a file you want to read </p>
        <button type="button"class ="steps">Upload a file</button>
        <input type="file" name="myfile" (change)="handleFileInput($event.target.files)"/>
      </div>
      <br>
      <p> 2. Send it to Read Better Folder</p>
      <button type="button"class="steps" (click)="uploadFileToActivity()"> send to RB folder</button>


      <div>
        <div>
          <p>3. Choose a file from Read Better folder that you want to read now</p>
          <button type="button"class="steps" (click)="listPdfFilesInDropbox()">list files in folder</button>
          <div>
            <ol>
              <p *ngIf="listOfFilesInDropbox === undefined"> No files to display</p>
              <li *ngFor="let l of listOfFilesInDropbox">
                <ul>
                  <li><span class="word">{{l}} </span>
                    <button class="removeWord" type="submit" (click)="openModal(l)">remove</button>
                    <button class="read" type="button" (click)="downloadFileFromDropbox(l)">read</button>
                  </li>
                </ul>
            </ol>
            <p *ngIf="totalFileSize !== undefined"> Storage: {{totalFileSize}} of 50MB </p>
          </div>
          <div>
            <ol>
              <li *ngFor="let f of listOfFoldersInDropbox"> {{f}}</li>
            </ol>
          </div>
        </div>
        <label>PDF src</label>
        <input type="text" placeholder="PDF: " [(ngModel)]="pdfFile">
      </div>
      <button *ngIf="pdfFile" type="button" (click)="pageBack()"> <--</button>
      <button *ngIf="pdfFile" type="button" (click)="pageForward()"> --></button>
      <form *ngIf="pdfFile">
        <input [(ngModel)]="pageNumber" [ngModelOptions]="{standalone: true}" type="number" placeholder="page number"/>
        <!--<button   type="submit" (click)="setPageNumber(pageNumber)"> go to </button>-->
      </form>
      <pdf-viewer (mousemove)="fireEvent($event)" (dblclick)="wordSelection()"
                  [src]="pdfFile"
                  [render-text]="2"
                  [show-all]="false"
                  [(page)]="pageNumber"
                  [external-link-target]="'none'"
                  style="display: block;"
                  (after-load-complete)="afterLoadComplete($event)"
                  (on-progress)="onProgress($event)"

      ></pdf-viewer>
    </div>
  </main>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div>

        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
