<app-header></app-header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="wrapper">


  <div style="padding: 20px;">
  </div>


  <main>

    <div class="container">
      <app-side-drawer></app-side-drawer>
    </div>


    <div class="main">

      <div id="test" (mousemove)="fireEvent($event)" (dblclick)="wordSelection()"></div>

      <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)">
      </div>
      <button type="button" (click)="uploadFileToActivity()"> send to dropbox</button>

      <div>
        <div>
          <button type="button" (click)="listPdfFilesInDropbox()">list files in folder</button>
          <button type="button" (click)="listFoldersInDropbox()">list folders</button>
          <div>
            <ol>
              <p *ngIf="listOfFilesInDropbox === undefined"> No files to display</p>
              <li *ngFor="let l of listOfFilesInDropbox">
                <ul>
                  <li><span class="word">{{l}} </span>
                    <button class="removeWord" type="submit" (click)="openModal(l)">remove</button>
                    <button type="button" (click)="downloadFileFromDropbox(l)">read</button>
                  </li>
                </ul>
            </ol>
            <p *ngIf="totalFileSize !== undefined"> Storage: {{totalFileSize}} of 50MB </p>
          </div>
          <div>
            <ol>
              <li *ngFor="let f of listOfFoldersInDropbox"> {{f}}</li>
            </ol>
          </div>
        </div>
        <label>PDF src</label>
        <input type="text" placeholder="PDF: " [(ngModel)]="pdfFile">
      </div>
      <button *ngIf="pdfFile" type="button" (click)="pageBack()"> <-- </button>
      <button *ngIf="pdfFile" type="button" (click)="pageForward()"> --> </button>
      <pdf-viewer (mousemove)="fireEvent($event)" (dblclick)="wordSelection()"
                  [src]="pdfFile"
                  [render-text]="2"
                  [show-all]="false"
                  [(page)]="pageNumber"
                   style="display: block;"

      ></pdf-viewer>
      <div></div>
      <p> DEFINITIONS </p>
      <div></div>
      <div></div>
      <div>
        <ol>
          <li *ngFor="let d of definitions">{{d}}</li>
        </ol>
      </div>
    </div>
    <div class="right">
<span>
YOUR WORDS
</span>
    </div>
    <div>

    </div>

  </main>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div>

        </div>
      </div>
    </div>
  </div>
</div>

