<app-header></app-header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="wrapper">


  <div style="padding: 20px;">
  </div>


  <main>

    <div class="container">
      <app-side-drawer></app-side-drawer>
    </div>


    <div class="main">

      <div id="test" (mousemove)="fireEvent($event)" (dblclick)="wordSelection()"></div>


        <!--<label for="file">Choose File</label>-->

      <div class="upload-btn-wrapper">
        <button type="button">Upload a file</button>
        <input type="file" name="myfile" (change)="handleFileInput($event.target.files)"/>
      </div>
          <button type="button" (click)="uploadFileToActivity()"> send to dropbox</button>

      <div>
        <div>
          <button type="button" (click)="listPdfFilesInDropbox()">list files in folder</button>
          <div>
            <ol>
              <p *ngIf="listOfFilesInDropbox === undefined"> No files to display</p>
              <li *ngFor="let l of listOfFilesInDropbox">
                <ul>
                  <li><span class="word">{{l}} </span>
                    <button class="removeWord" type="submit" (click)="openModal(l)">remove</button>
                    <button class="read" type="button" (click)="downloadFileFromDropbox(l)">read</button>
                  </li>
                </ul>
            </ol>
            <p *ngIf="totalFileSize !== undefined"> Storage: {{totalFileSize}} of 50MB </p>
          </div>
          <div>
            <ol>
              <li *ngFor="let f of listOfFoldersInDropbox"> {{f}}</li>
            </ol>
          </div>
        </div>
        <label>PDF src</label>
        <input type="text" placeholder="PDF: " [(ngModel)]="pdfFile">
      </div>
      <button *ngIf="pdfFile" type="button" (click)="pageBack()"> <--</button>
      <button *ngIf="pdfFile" type="button" (click)="pageForward()"> --></button>
      <form *ngIf="pdfFile">
        <input [(ngModel)]="pageNumber" [ngModelOptions]="{standalone: true}" type="number" placeholder="page number"/>
        <!--<button   type="submit" (click)="setPageNumber(pageNumber)"> go to </button>-->
      </form>
      <pdf-viewer (mousemove)="fireEvent($event)" (dblclick)="wordSelection()"
                  [src]="pdfFile"
                  [render-text]="2"
                  [show-all]="false"
                  [(page)]="pageNumber"
                  style="display: block;"

      ></pdf-viewer>
    </div>
     </main>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div>

        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
