header {
  margin: 0;
  padding: 0;
  background: url("/images/apple-bed-bedroom-5329resized dark.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 250px;
  padding-top: 50px;
  font-family: 'Exo 2', sans-serif;
  font-size: 100px;

}

h1 {
  padding: 0px;
  margin: 0px;
  color: #F9F9F9;
  font-size: 100px;
  line-height: 250px;
  opacity: 0.8;
}
/* Navbar Styling */
nav {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  background: #4d4d4d;
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-bottom: -50px;
  padding: 5px 0;
  /*transition: box-shadow 0.5s ease;*/
}

nav li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: #fcfff5;
  padding: 22px;
  font-size: 20px;
  transition: all 1s ease;

}

nav a:hover {
  background: #a9a9a9;
}

/* Sticky Navigation */
.topNav {
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 660px) {
  h1 {
    font-size: 70px;
  }
  nav a{
    font-size: 12px;
  }


}

@media screen and (max-width: 470px) {
  h1 {
    font-size: 45px;
  }
  nav a {
    font-size: 8px;
  }
}
