<header>
  <h1>
    READ BETTER
  </h1>
</header>
<nav
#StickyTopNav
[class.topNav]="topNav">
  <ul>
    <li *ngIf="loggedIn"><a (click)="goToHomePage()">HOME</a></li>
    <li *ngIf="!loggedIn"><a (click)="goToStartPage()">Start</a></li>
    <li><a (click)="goToAboutPage()">About</a></li>
    <li><a (click)="goToContactPage()">Contact</a></li>
    <li *ngIf="loggedIn"><a (click)="goToMyReadBetter()">My read Better</a></li>
    <li *ngIf="loggedIn"><a (click)="logout()">Logout</a></li>
    <li *ngIf="isAdmin"><a (click)="goToAdminPage()">Admin Panel</a></li>


  </ul>
</nav>
