<div class="drawer" #StickySideDrawer
     [class.sideDrawer]="sideDrawer">
  <div id="panel">
    <div id="title">
      My words
    </div>
  <div id="content">
       <ol>
        <li *ngFor="let n of tableOfWords">
          {{ n.entryId }}
          <ol>
            <li *ngFor="let d of definitions">{{d}}</li>
          </ol>
          <div class="buttons">
            <button class="translateWord" type="submit" (click)="translate(n.entryId)">translate</button>
            <button class="removeWord" type="submit" (click)="remove(n, tableOfWords)">remove
            </button>
          </div>
        </li>
      </ol>
  </div>
  </div>
</div>

