<div class="drawer" #StickySideDrawer
     [class.sideDrawer]="sideDrawer">
  <div id="panel">
    <div id="title">
      My words
    </div>
    <div id="content">
      <div>
        <p>{{translatedWord}}</p>
        <ol>
          <li *ngFor="let d of definitions">{{d}}</li>
        </ol>
        <button *ngIf="definitions.length > 0" type="button" (click)="hideDef()">hide</button>
      </div>
      <div id="def"></div>
      <ol>
        <li *ngFor="let n of tableOfWords">
          {{ n.word }}
          <div class="buttons">
            <button class="translateWord" type="submit" (click)="translate(n.word)">translate</button>
            <button class="removeWord" type="submit" (click)="remove(n, tableOfWords)">remove
            </button>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>

