
#panel {
  position: fixed;
  top: 50px;
  right: -272px;
  z-index: 99999;
  transition: right 0.6s ease-out 0.5s;
}

#panel:hover {
  right: 0;
}

#panel #content {
  width: 250px;
  min-height: 300px;
  max-height: 400px;
  padding: 10px;
  border-top: 2px solid #990E63;
  border-right: none;
  border-bottom: 2px solid #990E63;
  border-left: 2px solid #990E63;
  z-index: 20;
  background: #FFFFFF;
  position: relative;
  border-radius: 10px 0 0 10px;
  overflow-y: auto;
  opacity: 0.95;
  background: #FBF4F8;
}
#content {
  background-color: red;
}

#panel #title {
  width: 150px;
  border: 2px solid #990E63;
  background: #990E63;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 5px 25px 5px;
  text-align: center;
  position: relative;
  top: 140px;
  left: -90px;
  transform: rotate(-90deg);
  z-index: 1;
}
li {
  text-align: left;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  color: #4d4d4d;
}

button {
  display: inline-block;
  float: none;
  width:60px;
  height: 20px;
  font-family: 'Exo 2', sans-serif;
  font-size: 11px;
  line-height: 10px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  margin: 3px;
}
.translateWord {
  background: #33336D;
}
.removeWord {
  background: #e6b8c2;

}
