<div id="wrapper">
  <!--<div>-->


  <!--<div>-->
  <!--<button type="submit" (click)="getResponse(tmpWord)">translate</button>-->
  <!--</div>-->


  <!--</div>-->
  <!--<div class="top"> // pokazuje słowo-->
  <!--TOP-->

  <!--<h1> {{ tmpWord }} </h1>-->


  <!--</div>-->
  <app-header></app-header>
  <main>
    <form>
      <div class="control">
        <!--<label for="url">ENTER URL: </label>-->
        <input type="url" id="url"
               [(ngModel)]="url"
               [ngModelOptions]="{standalone: true}"
               placeholder="ENTER URL"
               pattern="https://.*" size="20" required/>
        <input class="url" type="button" value="SUBMIT" (click)="getDom(url)">

      </div>
    </form>
    <div>
      <p>{{tmpWord}}</p>
      <button class="addWord" type="submit" (click)="addWordToDatabase()">ADD TO DATABASE</button>
    </div>
    <div class="main">

      <div id="test" (dblclick)="wordSelection()" (mousemove)="fireEvent($event)">

      </div>

      <div></div>
      <div></div>
      <p> DEFINITIONS </p>
      <div></div>
      <div></div>
      <div>
        <ol>
          <li *ngFor="let d of definitions">{{d}}</li>
        </ol>
      </div>
    </div>
    <div class="right">
    <span>
    YOUR WORDS
      </span>
      <ol>
        <li *ngFor="let word of tableOfWords">

          {{ word }}
          <div class="buttons">
            <button class="translateWord" type="submit" (click)="getJsonResponse(tmpWord)">translate</button>
            <button class="removeWord" mat-raised-button type="submit" (click)="removeWord(word, tableOfWords)">remove
            </button>
          </div>


        </li>
      </ol>

    </div>
    <div>

    </div>

  </main>
</div>
