<div id="wrapper">
  <!--<div>-->


  <!--<div>-->
  <!--<button type="submit" (click)="getResponse(tmpWord)">translate</button>-->
  <!--</div>-->


  <!--</div>-->
  <!--<div class="top"> // pokazuje słowo-->
  <!--TOP-->

  <!--<h1> {{ tmpWord }} </h1>-->


  <!--</div>-->
  <header>
    <nav>
      <a class="menu" href="#">About</a>
      <a class="menu" href="#">FAQ</a>
      <a class="menu" href="#">Contact</a>
      <a class="menu" href="#">My Read Better</a>

    </nav>
    <div class="line"></div>
    <img src="images/logo.jpeg">
  </header>
<form>
  <div class="control">
    <label for="url">Enter URL: </label>
    <input type="url" id="url"
           [(ngModel)]="url"
           [ngModelOptions]="{standalone: true}"
           placeholder="https://example.com"
           pattern="https://.*" size="20" required/>
    <input type="button" value="Submit" (click)="getDom(url)">
  </div>
</form>
  <div>
    <p >{{tmpWord}}</p>
    <button class="addWord" type="submit" (click)="addWordToDatabase()">Add to Database</button>
  </div>
  <div class="main" >

    <div id="test" (dblclick)="selectWord()">

    </div>

<div></div>
<div></div>
<p> DEFINITIONS </p>
    <div></div>
    <div></div>
    <div>
      <ol>
        <li *ngFor="let d of definitions">{{d}}</li>
      </ol>
    </div>
  </div>
  <div class="right">
    <span>
    YOUR WORDS
      </span>
    <ol>
      <li *ngFor="let word of tableOfWords">

        {{ word }}
        <div class="buttons">
        <button class="translateWord" type="submit" (click)="getJsonResponse(tmpWord)">translate</button>
        <button class="removeWord" mat-raised-button type="submit" (click)="removeWord(word, tableOfWords)">remove
        </button>
        </div>


      </li>
    </ol>

  </div>
<div>

</div>
</div>
