<app-header></app-header>
<br>
<br>
<!--  <div>
    <p><span>READ BETTER</span> is a project aiming to enhance learning experience. Nowadays, the internet has become a
      major tool when it comes to language learning, and yet it is not used in its full potential.
      Instead of allowing people to interact with the real language, most online tools focus on mimicking it. I believe
      people should have the opportunity to interact with the target language on their own
      terms, and that is what Read Better is striving to achieve.</p>
  </div>-->
<div class="section">

  <div class="top-border left"></div>
  <div class="top-border right"></div>
  <h1>ABOUT</h1>
  <p><span>READ BETTER</span> is a project aiming to enhance learning experience. Nowadays, the internet has become a
    major tool when it comes to language learning, and yet it is not used in its full potential.
    Instead of allowing people to interact with the real language, most online tools focus on mimicking it. I believe
    people should have the opportunity to interact with the target language on their own
    terms, and that is what Read Better is striving to achieve.
    <br>
    <br>
    <span> How it works:</span>
    <br>
    The main idea is that you can display a web page inside of Read-Better, and all the words on that web page become
    interactive
    <br>
    in a sense that you can either get their English dictionary definitions (from Oxford Dictionary API) or Polish
    direct translation (from Glosbe API).
    <br>
    The words that you decide to save are stored in My Read Better and can be retrieved at will at managed.
    I'm working tirelessly on Read-Better to make it ... well better. The next step is to create a space to help you
    memorize your saved words.

  <ul>
    <li>Read-Better is designed for English web pages and PDF files.</li>
    <li>Read-Better was created to work under Google Chrome.</li>
    <li>The look of displayed web pages might sometimes look worse than the original. Documents though should look fine</li>
  </ul>
  <br>
  <span>What's new:</span>
  <ul>
    <li>Demo version for reading PDF files with pre-loaded books : 12.12.2018</li>
    <li>New feature - now you can read PDF files with the same functionality as in reading web : 1.12.2018</li>
    <li>Demo version for reading web with one example page : 26.11.2018</li>
  </ul>
</div>

