* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "'Exo 2', sans-serif;";
  background-color: #ddd;
  color: #4d4d4d;
}

.section {
  position: relative;
  width: 900px;
  max-width: 80%;
  border: 2px solid #333;
  border-top: none;
  text-align: center;
  margin: 60px auto;
}

.section h1 {
  color: #4d4d4d;
  position: relative;
  margin-top: -14px;
  display: inline-block;
  letter-spacing: 4px;
}
span {
  font-weight: bolder;
}
.top-border{
  position: absolute;
  height: 2px;
  width: 24%;
  background-color: #333;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

@media (max-width: 685px) {
  .top-border {
    width: 18%;
  }
}

.section p {
  color: #4d4d4d;
  width: 81%;
  margin: 20px auto 40px auto;
  line-height: 30px;
}
ul {
  font-family: 'Exo 2', sans-serif;
  color: #4d4d4d;
  width: 81%;
  margin: 20px auto 40px auto;
  line-height: 30px;
}


@media (max-width: 500px) {
  .top-border {
    display: none;
  }
  .section {
    border-top: 2px solid #333;
  }
  .section h1 {
    margin: 20px 6px;
  }
}
