<app-header></app-header>
<br>
<br>
<br>
<div>
  <p>Read Better is a project aiming to enhance learning experience. Nowadays, the internet has become a major tool when it comes to language learning, and yet it is not used in its full potential.
  Instead of allowing people to interact with the real language, most online tools focus on mimicking it. I believe people should have the opportunity to interact with the target language on their own
  terms, and that is what Read Better is striving to achieve.</p>
</div>
