html {
  width: 100%;
  height: 100%;
  overflow: hidden;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
body {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url("/images/adult-attractive-beautiful-935743.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Exo 2', sans-serif;
  -webkit-box-shadow: inset 0px 50px 100px 0px rgba(1, 0, 0, 1);
  -moz-box-shadow: inset 0px 50px 100px 0px rgba(1, 0, 0, 1);
  box-shadow: inset 0px 50px 100px 0px rgba(1, 0, 0, 1);
}

header {
  text-align: center;
  font-size: 100px;
  opacity: 0.8;
  font-weight: bolder;
  color: white;
  line-height: 40px;
}

span {
  float: left;
  font-family: 'Caveat', cursive;
  font-size: 40px;
  margin-left: 250px;
  margin-top: 30px;
  opacity: 0.95;
}

.buttons {
  text-align: center;
  padding-top: 210px;
}
button {
  display: inline-block;
  float: none;
  width: 200px;
  height: 40px;
  font-family: 'Exo 2', sans-serif;
  opacity: 0.8;
  font-size: 20px;
  background-color: white;
  line-height: 10px;
  border: 1px solid white;
  border-radius: 3px;
  color: darkslategray;
  cursor: pointer;
}


button:hover {
  opacity: 1;
  font-weight: bolder;

}
@media screen and (max-width: 660px) {
  header {
    font-size:70px;
  }
  span {
    font-size: 30px;
  }
}
@media screen and (max-width: 470px) {
  header {
    font-size:45px;
  }
  span {
    font-size: 20px;
  }
}


@keyframes checked-anim {
  20% {
    width: 20%;
    height: 40%;
  }
  100% {
    width: 20%;
    height: 40%;
    border-radius: 5px;
  }
}
@keyframes not-checked-anim {
  0% {
    width: 20%;
    height: 40%;
  }
}

li, a {
  margin-top: 30px;
  color: white;
  opacity: 0.9;
  font: 14pt "Roboto", sans-serif;
  font-weight: bold;
  line-height: 1.8;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
  display: none;
}

li {
  width: 230px;
  text-indent: 56px;
  z-index: 1;
}
a:focus {
  display: block;
  color: #333;
  background-color: rgba(255, 255, 255, 0);
  transition: all .5s;
}

#trigger, #burger, #burger:before, #burger:after {
  position: absolute;
  top: 25px;
  left: 25px;
  background: white;
  opacity: 0.8;
  width: 30px;
  height: 5px;
  transition: .2s ease;
  cursor: pointer;
  z-index: 1;
}
#trigger {
  height: 25px;
  background: none;
}
#burger:before {
  content: " ";
  top: 10px;
  left: 0;
}
#burger:after {
  content: " ";
  top: 20px;
  left: 0;
}
#menu-toggle:checked + #trigger + #burger {
  top: 35px;
  transform: rotate(180deg);
  transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
  width: 20px;
  top: -2px;
  left: 18px;
  transform: rotate(45deg) translateX(-5px);
  transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
  width: 20px;
  top: 2px;
  left: 18px;
  transform: rotate(-45deg) translateX(-5px);
  transition: transform .2s ease;
}
#menu {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 90px;
  height: 90px;
  background-color: #000000;
  opacity: 0.3;
  border-bottom-right-radius: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  animation: not-checked-anim .2s both;
  transition: .2s;
  padding-top: 100px;
}
#menu-toggle:checked + #trigger + #burger + #menu {
  animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
  display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  display: none;
}
