<app-header></app-header>
<br>
<br>
<br>
<br>
<div class="table">
  <h1 id="headerTemporary" (click)="toggleElementsTempWords()" >Temporary Words </h1>
  <div  [ngClass]="tempWordsStatus ? 'temporaryWords hide' : 'danger'">

    <ol>
      <li *ngFor="let e of tableOfCurrentWords">
        <ul>
          <li><span class="word">{{e.word }} </span>
            <button class="removeWord" type="submit" (click)="removeWordFromLocalDatabase(e, tableOfCurrentWords)">
              remove
            </button>
            <button class="translateWord" type="submit" (click)="translatePl(e.word)">tłumacz</button>
            <button class="translateWord" type="submit" (click)="translate(e.word)">translate</button>
          </li>
        </ul>
        <!--<ol>-->
        <!--<li *ngFor="let def of entry.definitions">{{def}}</li>-->
        <!--</ol>-->
        <!--<ul>-->
        <!--<li>{{entry.timestamp}}</li>-->
        <!--</ul>-->
        <ul class="urlAdress">
          <li>
            {{e.entryUrl}}
          </li>
        </ul>

      </li>
    </ol>
    <button class="sendAll" type="button" (click)="sendAllToBackend()">Save all words</button>
    <button class="clearAll">Clear</button>
  </div>

  <span class="line"></span>

  <h1 id="headerSavedWords" (click)="toggleElementsSavedWords()"> Saved Words </h1>
  <div  [ngClass]="savedWordsStatus ? 'savedWords hide' : 'danger'">

    <button class="getSavedWords" type="button" (click)="getAllEntries()">Get saved words</button>


    <ol>
      <li *ngFor="let e of tableOfDatabaseWords">
        <ul>
          <li><span class="word">{{e.word }} </span>
            <button class="removeWord" type="submit" (click)="removeWordFromBackendDatabase(e.word, e)">remove
            </button>
            <button class="translateWord" type="submit" (click)="translatePl(e.word)">tłumacz</button>
            <button class="translateWord" type="submit" (click)="translate(e.word)">translate</button>
          </li>
        </ul>
        <!--<ol>-->
        <!--<li *ngFor="let def of entry.definitions">{{def}}</li>-->
        <!--</ol>-->
        <!--<ul>-->
        <!--<li>{{entry.timestamp}}</li>-->
        <!--</ul>-->
        <ul class="urlAdress">
          <li>
            {{e.entryUrl}}
          </li>
        </ul>

      </li>
    </ol>
  </div>
  <span class="line"></span>

  <h1 id="headerSavedWeb" (click)="toggleElementsUrl()"> Saved webpages </h1>
  <div  [ngClass]="urlStatus ? 'savedLinks hide' : 'danger'">

    <button class="getSavedWords" type="button" (click)="showSavedLinks()">Get saved webpages</button>


    <ol>
      <li *ngFor="let l of savedLinks">
        <ul>
          <li><span class="word">{{l[0] }} </span>
            <button class="removeWord" type="submit" (click)="removeLinkFromBackend(l[0], l)">remove
            </button>
          </li>
        </ul>
        <!--<ol>-->
        <!--<li *ngFor="let def of entry.definitions">{{def}}</li>-->
        <!--</ol>-->
        <!--<ul>-->
        <!--<li>{{entry.timestamp}}</li>-->
        <!--</ul>-->
        <ul class="urlAdress">
          <li>
            {{l[1]}}
          </li>
        </ul>

      </li>
    </ol>
  </div>
  <span class="line"></span>


</div>
