/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css";*/
/*@import "~font-awesome/css/font-awesome.css";*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.wordBox
.mat-dialog-container {
  min-width: 400px;
  min-height: 200px;
  border-top: 2px solid #990E63;
  border-right: 2px solid #990E63;
  border-bottom: 2px solid #990E63;
  border-left: 2px solid #990E63;
  z-index: 20;
  background: #FFFFFF;
  position: relative;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  opacity: 0.95;
  background: #FBF4F8;
  color: #4d4d4d;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}
.wordBox
.mat-dialog-container li{
  font-weight: lighter;
}
.translateWordBox {
  display: inline-block;
  float: none;
  width: 140px;
  height: 30px;
  font-family: 'Exo 2', sans-serif;
  font-size: 15px;
  line-height: 10px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  margin: 5px;
  background: #33336D;

}
.addWordBox{
  display: inline-block;
  float: none;
  width: 140px;
  height: 30px;
  font-family: 'Exo 2', sans-serif;
  font-size: 15px;
  line-height: 10px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  margin: 5px;
  background: #BE77A2;
  background: #78D5B0;
  background: #990E63;
}
.cancelWordBox {
  display: inline-block;
  float: none;
  width: 140px;
  height: 30px;
  font-family: 'Exo 2', sans-serif;
  font-size: 15px;
  line-height: 10px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  margin: 5px;
  background: #e6b8c2;
}

